<html>

<head>
  <base href="/" />
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>React Quickstart</title>
  <!--Inject app config into html-->
  <script>APP_CONFIG = {{{ config }}};</script>
</head>

<body>
  <div id="root" />
</body>

</html>